.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.audio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: blueviolet;
  padding: 20px;
}