.header {
  display: flex;
  align-items: center;
  background-color: aqua;
  padding: 20px 20px;
}

.iconContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icon {
  font-size: 24px;
  cursor: pointer;
  padding: 0 10px ;
}